@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rounded-t-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-b-none{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: none;
  height: 100%;
}

/* Apply to the entire body or a specific container */
body {
  scrollbar-width: thin;
  scrollbar-color: #A9A9A9 #1a1c1d;
}

/* For WebKit browsers */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1a1c1d;
}

body::-webkit-scrollbar-thumb {
  background-color: #A9A9A9;
  border-radius: 10px;
  border: 3px solid #1a1c1d;
}
